@charset "UTF-8";
/* VARIABLES */
/* FUENTES Y FONDO DE PANTALLA*/
body {
  background-image: url(../multimedia/fondo\ ameri.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Amaranth-Regular";
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Amaranth-Regular";
  src: url("../Fonts/Amaranth/Amaranth-Regular.ttf");
}
h1 {
  color: #381638;
  text-align: center;
  font-size: 3rem;
}

h2 {
  color: #381638;
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: #381638;
}

h4 {
  margin: 15px;
  color: black;
}

h6 {
  margin: 15px;
  color: black;
}

header .duki-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .duki-imglogo {
  width: 100px;
  margin: 20px;
  border-radius: 15px;
}
header .duki-imglogo:hover {
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}
header .container-nav {
  text-align: center;
  display: flex;
  justify-content: center;
}
header .container-nav .bgrosa {
  background-color: rgba(255, 192, 203, 0.6745098039);
  border-radius: 15px;
  border: white solid 2px;
}
header .container-nav .nav-item:hover {
  color: black;
  background-color: pink;
  border-radius: 50%;
}

/* HEADER DEL INDEX */
.header-index .divfotosperfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-index .divfotosperfil .perfil {
  width: 300px;
  margin: 10px;
  height: 260px;
  border-radius: 15px;
  border: white 2px solid;
}
.header-index .divfotosperfil .perfil:hover {
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}
.header-index .divfotosperfil .perfil2 {
  width: 400px;
  height: 260px;
  margin: 5px;
  border-radius: 15px;
  border: white 2px solid;
}
.header-index .divfotosperfil .perfil2:hover {
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}
.header-index .divfotosperfil .perfil3 {
  width: 400px;
  height: 260px;
  margin: 5px;
  border-radius: 15px;
  border: white 2px solid;
}
.header-index .divfotosperfil .perfil3:hover {
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}

/* MAIN DEL INDEX */
.main-index {
  background-color: rgba(255, 192, 203, 0.6745098039);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  border: white solid 2px;
}
.main-index .pbio {
  color: black;
  font-weight: 300;
  font-style: normal;
}

/* FOOTER */
footer {
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: #381638;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-align: center;
  height: 150px;
  border-radius: 15px;
}
footer .subir {
  color: #381638;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
footer .youtubelogo {
  width: 50px;
  margin: 5px;
}
footer .spotify {
  width: 50px;
  margin: 5px;
}
footer .ig {
  width: 50px;
  margin: 5px;
  border-radius: 15px;
}
footer .facebook {
  width: 50px;
  margin: 5px;
}
footer .twitter {
  width: 50px;
  margin: 5px;
}

/* MAIN DE LA DISCOGRAFÍA */
.main1 {
  background-color: rgba(255, 192, 203, 0.6745098039);
  border-radius: 15px;
  border: white solid 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.main1 .imgpag2 {
  width: 300px;
  padding: 5px;
  margin: 25px;
  height: 300px;
  border-radius: 10px;
}
.main1 .imgpag2:hover {
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}

/* MAIN DE GALERÍA DE FOTOS */
.main3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main3 .imgshow {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: white 2px solid;
  margin: 10px;
  opacity: 0.6;
}
.main3 .imgshow:hover {
  border: solid white 3px;
  opacity: 1;
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}
.main3 .iframe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.main3 iframe {
  width: 400px;
  height: 250px;
  margin: 10px;
}

/* GRID */
.container {
  width: 100vw;
  height: 100vh;
  font-family: "Amaranth-Regular";
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
  gap: 1px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "section1 section1 section2" "footer footer footer";
}

.header4 {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header4 .bgrosa {
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: #381638;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
}
.header4 .nav-item:hover {
  color: black;
  background-color: pink;
  border-radius: 50%;
}

.main4 {
  grid-area: main;
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: black;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main4 .ropa1 {
  text-align: center;
  margin: 5px;
}
.main4 .ropa1 .ropa {
  width: 150px;
  margin: 15px;
  height: 150px;
  opacity: 0.7;
  border-radius: 15px;
}
.main4 .ropa1 .ropa:hover {
  border: solid white 3px;
  opacity: 1;
  transform: scale(1.1, 1.1);
  margin: 15px;
  transition: all 1s;
}

.section1 {
  grid-area: section1;
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: black;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
}
.section1 .h3-section {
  text-align: center;
}
.section1 .h4-section {
  text-align: center;
}
.section1 .contacto4 {
  width: 70px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  grid-area: section2;
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: black;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
}
.section2 .h3-section {
  text-align: center;
  color: black;
}
.section2 .h4-section {
  text-align: center;
}
.section2 .maps {
  width: 100px;
}
.section2 .contenedor-maps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: #381638;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
  padding: 10px;
  height: 150px;
}

/* MAIN DEL FORMULARIO */
.main5 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.main5 form {
  width: 500px;
  padding: 20px;
  border: white 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 192, 203, 0.6745098039);
}
.main5 form .button-estilo, .main5 form .button-reset, .main5 form .button-enviar {
  width: 100px;
  padding: 5px;
  color: black;
  border-radius: 10px;
  border: black solid 2px;
}
.main5 form .button-estilo:active, .main5 form .button-reset:active, .main5 form .button-enviar:active {
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: white;
}
.main5 form .button-enviar {
  background-color: white;
  border: #381638 solid 3px;
}
.main5 form .button-reset {
  background-color: white;
  border: red solid 3px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.5fr;
    grid-template-areas: "header header" "main main" "section1 section1" "section2 section2" "footer footer";
  }
  .perfil {
    width: 150px;
    height: 150px;
  }
  .perfil2 {
    display: none;
  }
  .perfil3 {
    display: none;
  }
  form {
    width: 75%;
  }
  .main2 {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.5fr;
    grid-template-areas: "header header" "main main" "section1 section1" "section2 section2" "footer footer";
  }
  .imgshow {
    width: 150px;
    height: 100px;
  }
  .youtubelogo {
    width: 30px;
  }
  .spotify {
    width: 30px;
  }
  .ig {
    width: 30px;
  }
  .facebook {
    width: 30px;
  }
  .twitter {
    width: 30px;
  }
  .perfil {
    width: 110px;
    height: 100px;
  }
  .perfil3 {
    display: none;
  }
  .perfil2 {
    display: none;
  }
  form {
    margin: 10px;
  }
}
/* CUSTOM PÁGINA ERROR 404 */
.img404 {
  width: 400px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
  border: #ffffff solid 2px;
}

.div-error {
  text-align: center;
  background-color: rgba(255, 192, 203, 0.6745098039);
  color: #381638;
  border-radius: 15px;
  border: white solid 2px;
  margin: 10px;
  padding: 10px;
}

.logo-error {
  width: 100px;
  border-radius: 15px;
  border: #ffffff solid 2px;
}

/*# sourceMappingURL=estilo.css.map */
