.main-index{
    background-color: $bgFondo;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    border: white solid 2px;
     .pbio{
        color: black;
        font-weight: 300;
        font-style: normal;
     }
    
 }